body {
  grid-template-columns: minmax(5rem, auto) minmax(18rem, 28rem) 7rem minmax(69rem, 92rem) minmax(5rem, auto);
  grid-template-rows: 2rem minmax(min-content, calc(100vh - 7rem)) 5rem;
  grid-template-areas:
          ". . . . ."
          ". header nav main ."
          "footer footer footer footer footer";
}
