body > main {
  border-radius: 1rem;
  border:0.2rem solid #000000;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  z-index: 1;
}

body > main > section {
  padding: 2rem;
}

body > main > section > h2 {
  position: sticky;
  top: -2rem;
  font-family: 'League Gothic', sans-serif;
  font-size: 5rem;
  font-kerning: auto;
  font-weight: bold;
  line-height: 6rem;
  letter-spacing: 0.2rem;
  text-align: center;
  text-transform: uppercase;
  color: #222;
  z-index: 3;
  background:
          linear-gradient(135deg, transparent 1rem, #a1d8d3 0) top left,
          linear-gradient(225deg, transparent 1rem, #a1d8d3 0) top right,
          linear-gradient(315deg, transparent 1rem, #a1d8d3 0) bottom right,
          linear-gradient(45deg, transparent 1rem, #a1d8d3 0) bottom left;
  background-image:
          radial-gradient(circle at 0 0, #fff 1.4rem, #a1d8d3 1.5rem),
          radial-gradient(circle at 100% 0, #fff 1.4rem, #a1d8d3 1.5rem),
          radial-gradient(circle at 100% 100%, #fff 1.4rem, #a1d8d3 1.5rem),
          radial-gradient(circle at 0 100%, #fff 1.4rem, #a1d8d3 1.5rem);
  background-size: 50.01% 50.01%;
  background-repeat: no-repeat;
  padding: 1.2rem 0 1rem 0;
  margin: 0;
}