@media (min-width: 1025px) {
  body {
    grid-template-columns: minmax(50px, auto) minmax(160px, 260px) 50px minmax(670px, 900px) minmax(50px, auto);
    grid-template-rows: 0 auto 0 30px;
    grid-template-areas:
    ". . . . ."
    ". header nav main ."
    ". . . . ."
    "footer footer footer footer footer";
  }
}
