body > nav > ul > li {
  border-radius: 50%;
  border:0.2rem solid #000000;
  background-color: #ffffff;
  opacity: 0.7;
}

body > nav > ul > li.active,
body > nav > ul > li:hover {
  box-shadow: 0 0 2rem 0 #ffffaa;
  opacity: 1;
}

body > nav > ul > li > a {
  background-size: 90%;
  background-position: center center;
  background-repeat: no-repeat;
}

body > nav > ul > li.home > a {
  background-image: url("/assets/img/icons/home.svg");
}

body > nav > ul > li.projects > a {
  background-image: url("/assets/img/icons/projects.svg");
}

body > nav > ul > li.websites > a {
  background-image: url("/assets/img/icons/websites.svg");
}

body > nav > ul > li.cv > a {
  background-image: url("/assets/img/icons/cv.svg");
}

body > nav > ul > li.contact > a {
  background-image: url("/assets/img/icons/contact.svg");
}

body > nav > ul > li.about > a {
  background-image: url("/assets/img/icons/about.svg");
}
