body {
  grid-template-columns: 2rem auto 2rem;
  grid-template-rows:  minmax(min-content, calc(100vh - 7rem)) 5rem;
  grid-template-areas:
          ". main ."
          ". footer .";
}

body > header,
body > nav {
  display: none;
}
