body > header {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 50%;
  border:0.2rem solid #000000;
  background-color: #ffffff;
}

body > header > h1 {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  text-indent: -100rem;
  overflow: hidden;
  background-image: url("/assets/img/Gixx.png");
  background-repeat: no-repeat;
  background-size: 130%;
  background-position: -0.5rem 0;
  background-color: #A3D4DF;
  border-radius: 50%;
}
