body {
  grid-template-columns: minmax(2rem, auto) 10rem minmax(34rem, 59rem) minmax(2rem, auto);
  grid-template-rows:  10rem minmax(min-content, calc(100vh - 7rem)) 5rem;
  grid-template-areas:
          ". header nav ."
          ". main main ."
          ". footer footer .";
}
