body > nav > ul {
  display: block;
  margin: 0;
  padding: 3rem 0;
  height: 10rem;
  vertical-align: top;
  z-index: 10;
}

body > nav > ul > li {
  display: inline-block;
  vertical-align: top;
  margin: 0 1rem 0 0;
  padding: 0;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border:0.2rem solid #000000;
  background-color: #ffffff;
  transition: margin-top 500ms ease-out;
}

body > nav > ul > li.active,
body > nav > ul > li:hover {
  margin-top: 1rem;
}

body > nav > ul > li > a {
  display: block;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: calc(1 * 100%);
  background-size: 90%;
  background-position: center center;
  background-repeat: no-repeat;
}

body > nav > ul > li.home > a {
  background-image: url("/assets/img/icons/home.svg");
}

body > nav > ul > li.projects > a {
  background-image: url("/assets/img/icons/projects.svg");
}

body > nav > ul > li.websites > a {
  background-image: url("/assets/img/icons/websites.svg");
}

body > nav > ul > li.cv > a {
  background-image: url("/assets/img/icons/cv.svg");
}

body > nav > ul > li.contact > a {
  background-image: url("/assets/img/icons/contact.svg");
}

body > nav > ul > li.about > a {
  background-image: url("/assets/img/icons/about.svg");
}
